#!/usr/bin/env bash

exec_nftmart(){
  exec nftmart \
    --telemetry-url="wss://telemetry.polkadot.io/submit/ 0" \
    --name="${FUNCNAME[1]}" \
    --log=runtime=debug \
    --execution=NativeElseWasm \
    --rpc-cors=all \
    --rpc-methods=Unsafe \
    --prometheus-external \
    --unsafe-ws-external \
    --chain=staging_spec_raw.json \
    --wasm-execution=Interpreted \
    --ws-max-connections=10000 \
    "$@"
}

exec_nftmart "$@"
